*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#custom
#video
z/course/*.mp4
z/course/*.webm
z/course/*.ogg
!z/course/default_thumbnail.png
#image
z/instructor/*.jpg
z/instructor/*.jpeg
z/instructor/*.png
!z/instructor/default_thumbnail.png
z/thumbnails/*.jpg
z/thumbnails/*.jpeg
z/thumbnails/*.png
!z/thumbnails/default_thumbnail.png
z/user/*.jpg
z/user/*.jpeg
z/user/*.png
!z/user/default_thumbnail.png
#projects
z/projects/*.zip
z/projects/*.rar
z/projects/*.7z
#pdf
z/pdf/*.pdf