*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#custom
	#video
	z/course/*.mp4
	z/course/*.webm
	z/course/*.ogg
	#image
	z/instructor/*.jpg
	z/instructor/*.jpeg
	z/instructor/*.png
	z/thumbnails/*.jpg
	z/thumbnails/*.jpeg
	z/thumbnails/*.png
	z/user/*.jpg
	z/user/*.jpeg
	z/user/*.png
