/*Nautical Pallete
daecf3 218,236,243
fe424d 254,66,77
1aa6b7 26,166,183
022d41 2,45,65
*/

.c1
{
	background-color: #26c281;
}
.c2
{
	background-color: #2abb9b;
}
.c2:hover
{
	background-color: #049372;
}
.c3
{
	background-color: #006442;
}


/*.jumbotron-header
{
	background-image: url('../img/1.jpeg');
	background-color: #17234E;
	margin-bottom: 0;
	min-height: 50%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}*/